

.App__Header {
    font-size: 1.8em;
    color: #0275d8;
    /* text-shadow: 1px 1px 1px #292b2c; */
    font-weight: 600;
    letter-spacing: 2px;
    margin: 20px 0px 20px 0px;
}

.App__Sidebar {
    border: 1px solid #f7f7f7; /* Faded */
    background-color: #f7f7f7;
    overflow-y: auto;
    scrollbar-color: red yellow;
}

.App__Sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
  .App__Sidebar::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  
  .App__Sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    background-color: #CFD8DC;
  }

.App__Sidebar::-webkit-scrollbar-track, 
.App__Sidebar::-moz-scrollbar-track, 
.App__Sidebar::-o-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.App__MainContent {
    /* border: 1px solid blue; */
    display: flex;
}

.App__MainContent__NoData {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(41, 43, 44, 0.3);
}

.App__Sidebar__Repos {
    /* border: 1px solid green; */
    padding: 0px !important;
    margin-top: 20px;
}

.App__Sidebar__Spinner {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    margin: 20px 0px 10px 0px;
    /* margin: auto !important; */
}


.App__Sidebar__Repos__ReposTable tr {
    cursor: pointer;
}

.App__Sidebar__Repos__ReposTable tbody tr:hover td, .App__Sidebar__Repos__ReposTable tbody tr:hover th {
    color: #0275d8; /* Primary */
    /* text-decoration: underline; */
  }